// @import url("@/assets/abstracts/_variables.scss");
@import 'variables.scss';

.createtest {
  // margin: 30px 0 0;
  &__container {
    padding: 0 8px !important;
    .content {
      background: var(--bg-column-color);
      border-radius: 8px;

      &__header {
        margin: 0 0 30px !important;

        h3 {
          font-size: 24px;
          font-weight: 600;
        }

        span {
          font-size: 19px;
        }
      }

      .mode {
        margin: 0 0 50px;
      }

      .state__tests {
        margin: 0 0 10px 0 !important;
        .col {
          padding: 0px;
        }

        @media only screen and (max-width: 400px) {
          .col-sm-4 {
            text-align: right;
          }
        }
      }

      .set__test {
        margin: 40px 0 0 !important;
        label {
          font-size: 18px;
          line-height: 1;
          font-weight: 500;
        }

        .quetions__count {
          height: 35px !important;
          width: 45px !important;
          margin: 0 0 0 15px;
          input {
            padding: 0 !important;
            text-align: center;
            color: var(--text-color);
          }

          .v-input__control {
            width: 45px !important;
          }

          .v-input__slot {
            min-height: 35px !important;
            width: 65px !important;

            fieldset {
              border-width: 3px !important;
            }
          }
        }
      }

      .subjects {
        .v-data-table {
          background: var(--bg-column-color) !important;
          color: var(--text-color) !important;

          table {
            tr {
              &:hover {
                background: inherit !important;
              }
              
              td,
              th {
                border: none !important;
                text-align: center !important;
              }
              td {
                height: 40px !important;
              }
              
              th {
                color: var(--text-color) !important;
                font-size: 16px;
                font-weight: 400;
                &:last-child {
                  color: var(--question-used) !important;
                }
              }
            }
          }
        }
      }

      .d-flex.align-end {
        span {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }

    .generate__test {
      display: block;
      margin: 40px auto;
      background: $color_info !important;
      
      .v-btn__content {
        color: #fff !important;
      }
    }

    .launch__tutorial {
      display: block;
      margin: 10px 0 20px auto;
      background: $color_red !important;
    }

    &:nth-child(1) {
      .content {
        padding: 0 35px 40px;
      }
    }

    &:not(:nth-child(1)) {
      .content {
        padding: 0 20px 80px !important;
      }
    }
  }
}
