// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$sidebar-bg: #2C364A;
$sidebar-text: #8996AC;
$sidebar-active-link: #8996AC;

/*========= App bar ================*/
$link-color: #B2B3B3;
$try-demot: #EF7F1A;

/*====== Create Test ==============*/
$color_gray: #6c757d;
$color_info: #17a2b8;
$color_white: #fff;
$color_red: #f2a5a5;

.layout {
  margin: 0 !important;
}
