.courseapp {
 --sidebar-bg: #2C364A;
 --sidebar-text: #8996AC;
 --sidebar-active-link: #8996AC;

 --navbar-bg: #008DD2;
 --primary: #F5F5F5;
 --chart-grey: #ACB4C0;
 --chart-blue: #008DD2;
 --chart-green: #009846;
 --chart-red: #E31E24;
 --chart-text: #434242;
 --chip-grey: #D9DADA;
 --chip-blue: #A2D9F7;
 --chip-green: #7EC291;
 --statistics-text: #727271;
}

// #2C364A
// #8996AC
// #ACB4C0
// #727271
// #008DD2
// #F5F5F5
// #009846
// #E31E24
// #434242
// #D9DADA
// #A2D9F7
// #7EC291
// #9D9E9E

// #fff => #1E1E1E
// #F5F5F5 => #2B2A29