@import "../../variables.scss";

.app__header {
  height: 70px !important;
  background: #12151D !important;
  .v-toolbar {
    &__title {
      align-self: center !important;
    }
    &__content {
      height: inherit !important;
      display: flex;
      justify-content: space-between;
      align-items: center !important;
    }
  }

  &--desktop,
  &--actions {
    a {
      text-decoration: none !important;
      color: $link-color;
      font-size: 16px !important;
      &.link {
        display: inline-block;
        margin: 0 15px !important;
      }
    }
  }

  &--actions  {
    .account{
      img {
        width: 26px;
        height: 26px;
      }
    }

    .shop {
      img {
        width: 32px;
        height: 32px;
        margin-top: -6px;  
      }
    }

    .to-try {
      background: #EF7F1A !important;
    }

    .menu {
      i {
        font-size: 26px;
      }
    }
  }

}

.dropdown__menu {
  &--items {
    background-color: #3D4D6B !important;
    padding: 0;
  }

  &--title {
    padding: 10px 0 !important;
  }
}
