@import "../global";

.app__header {
  height: 70px !important;
  background: #12151D !important;
  padding: 0 32px;

  @include responsive(xs) {
    padding: 0;
  }

  .v-toolbar {
    &__title {
      align-self: center !important;
    }
    &__content {
      height: inherit !important;
      display: flex;
      justify-content: space-between;
      align-items: center !important;
    }
  }

  &--desktop,
  &--actions {
    a {
      text-decoration: none !important;
      color: $link-color;
      font-size: 16px !important;
      &.link {
        display: inline-block;
        margin: 0 15px !important;
      }
    }
  }

  &--actions  {
    .account{
      img {
        width: 26px;
        height: 26px;
      }
    }

    .shop {
      img {
        width: 32px;
        height: 32px;
        margin-top: -6px;  
      }
    }

    .to-try {
      background: #EF7F1A !important;
    }

    .menu {
      i {
        font-size: 26px;
      }
    }
  }

  &--mobile {
    background-color: #f5f5f5 !important;
    height: 100%;
    .v-list {
      padding: 0;
      height: 100% !important;
      &-item {
        &::before {
          display: none;
        }
        &__title {
          font-weight: 600;
        }
        &__content {
          cursor: default;

          ul {
            list-style-type: none;
            li {
              padding: 5px 0;
              font-weight: 400;
            }
          }
        }
      }
    }

    .link {
      cursor: pointer;
      text-decoration: none;
      color: #12151D;
      transition: .25s all;
      &:hover{
        color: #008dd2;
      }

      &.demo {
        padding: 8px;
        text-align: center;
        border-radius: 24px;
        background: #EF7F1A;
        color: #fff;
      }
    }
  }
}

.dropdown__menu {
  &--items {
    background-color: #3D4D6B !important;
    padding: 0;
  }

  &--title {
    padding: 10px 0 !important;
  }
}
