// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$sidebar-bg: #2C364A;
$sidebar-text: #8996AC;
$sidebar-active-link: #8996AC;
